/*--------------GENERAL--------------*/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	font-family: PT sans, sans-serif;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*--------------HEADER--------------*/

/*-----__NAVIGATION__-----*/


nav {
	display: flex;
	background-color: white;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 0.1em;
	border-bottom-color: black;
}

nav li {
	display: inline-block;
}

nav h2 {
	font-family: PT sans narrow, sans-serif;
	font-weight: 200;
	margin: 0;
}

nav h2 a {
	color: black;
	text-decoration: none;
	margin-left: 1em;
}

nav button {
	width: 0;
	height: 0;
	border-top: solid 5px #000;
	border-left: solid transparent 5px;
	border-right: solid transparent 5px;
}

nav .profilepic {
	width: 50%;
	height: 50%;
	padding: 0 1em;
}

nav .profilepic img {
	width: 50px;
	height: 50px;
}

.triangle {
	width: 0;
	height: 0;
	margin: 0;
	border-top: 0.6rem solid #000;
	border-left: 0.6rem solid transparent;
	border-right: 0.6rem solid transparent;
}

.navigation {
	display: flex;
	align-items: center;
	margin: 0.2rem 1em;
}

.navdesktop a {
	color: black;
	text-decoration: none;
}

.navdesktop li {
	padding: 0.5em 1em;
}

/*--------------MAIN--------------*/

main {
	width: 95%;
	display: block;
	margin: 5% auto 0;
	max-width: 50em;
}

.foodtruck {
	width: 100%;
	display: block;
	margin: 1em auto 0;
	max-width: 40em;
}

p {
	font-size: 1.2em;
	margin: 0;
	font-family: Helvetica, sans-serif;
}


/*-----__HOMEPAGE__-----*/

.truckszoeken {
	text-align: center;
}

#home .knop {
	margin-top: 1em;
}

.knop {
	background-color: black;
	color: white;
	text-decoration: none;
	width: 10em;
	padding: 1em 2em;
	display: block;
	margin: 2em auto;
	text-align: center;
}

#home h2 {
	font-size: 2em;
	font-weight: 100;
}

#home input {
	width: 90%;
	height: 2em;
	padding: 0.5em 2em;
	;
	border: solid 2px;
	border-color: black;
	border-radius: 1em;
}

#home section {
	display: flex;
	margin: 1em 0;
}

#home section img {
	height: 1.8em;
	margin: 0 1em 0 0;
}

h7 {
	font-size: 2em;
}

#home a:visited {
	color: black;
}

#home a {
	text-decoration: none;
	color: black;
}

#home article img {
	margin-bottom: 1em;
}

#home article div {
	display: flex;
	justify-content: space-between;

}

#home p {
	margin-bottom: 2em;
}


.knop:visited {
	color: white !important;
}

.filter {
	margin: 0;
}

.page {
	display: block;
}

/*-----DETAILPAGE-----*/


h1 {
	font-weight: 500;
	margin: 5% 0 0;
	font-size: 2em;
}

main .profilepic {
	width: 3em;
	height: 3em;
	margin-right: 20px;
}

h3 {
	font-family: Helvetica, sans-serif;
	font-weight: 500;
}

main .title {
	display: flex;
	justify-content: space-between;
}

.owner {
	display: flex;
	align-items: center;
	min-width: 75%;
	margin-top: 0;
}

.star {
	width: 10%;
	height: 10%;
	margin-top: 5%;
	max-width: 3em;
}

main h4 {
	color: rgb(97, 184, 101);
	font-weight: 500;
}

.foodsticker {
	display: flex;
	align-items: center;
	margin-top: 2em;
}

.foodstickers {
	width: 2em;
	height: 2em;
	margin-right: 1em;
}

h5 {
	font-weight: normal;
	font-size: 1.2em;
	margin-bottom: 0;
	margin-top: 2em;

}

h6 {
	margin-bottom: 1em;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: rgb(98, 156, 175);
}

.detail {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 2em;
}

/*--------------AANVRAGEN--------------*/

form {
	text-align: left;
	padding: 50px;
}

label {
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
}

input {
	font-size: 15px;
	padding: 0.5em;
	color: #444444;
	font-weight: 100;
	border-style: inset;
	border-width: 0,3em;
}

input.text {
	width: 40%;
}

textarea {
	border-style: inset;
	border-width: 0,3em;
	font-size: 14px;
	color: #444444;
	font-weight: 100;
	width: 50%;
	min-width: 300px;
}

/*--------------FOOTER--------------*/

footer {
	background-color: black;
	color: white;
	font-family: Helvetica, sans-serif;
	height: 50em;
}

footer h2 {
	font-weight: 500;
}

footer .profile {
	display: flex;
	align-items: center;
	padding: 2em 2em 1em;
}

footer ul a {
	color: white;
	text-decoration: none;
	font-size: 1.3em;
}

footer li {
	padding: 1em;
	border-bottom: solid 0.06em;
	margin-right: 1em;
}

footer li:last-child {
	border-bottom: 0;
}

@media screen and (min-aspect-ratio: 1/1) {
	.triangle {
		display: none;
	}

	footer {
		display: none;
	}

	nav {
		position: fixed;
		top: 0;
		width: 100%;
	}

	.foodtruck {
		margin-top: 6em;
	}

	.truckszoeken {
		margin-top: 8em;
	}
}

@media screen and (max-aspect-ratio: 1/1) {
	.navdesktop {
		display: none;
	}
}
